/target/
/BDGTest/
/allure-results/
/Screenshots/
**/allure-results
**/test-output/
*.html
*.png
**/Selenium.logs.*
/Screenshots/loginDDT.png
/src/test/java/com/nordson/BDGTest/*.nor
**/Screenshots/*.png
