<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Nordson OMU Web App Regression Tests on Chrome">

<listeners>
<listener class-name="com.nordson.utilities.Reporting" />
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>

  <test name="Nordson OMU Web App Regression Tests on Chrome">
      <parameter name="browser" value="chrome"/>
       <classes>
          <!--  <class name="com.nordson.NORXML.TC_PressureHydraulic_NOR_XML_Comparsion_STD_STDDA"/>  
            <class name="com.nordson.NORXML.TC_PressureHydraulic_NOR_XML_Comparsion_HOD_HO_DA"/> 
            <class name="com.nordson.NORXML.TC_PressureHydraulic_NOR_XML_Comparsion_SHO_SHO_SA"/> 
            <class name="com.nordson.NORXML.TC_PressureHydraulic_NOR_XML_Comparsion_LBD_LP"/> 
            <class name="com.nordson.NORXML.TC_PressureHydraulic_NOR_XML_Comparsion_WAD_LV"/> 
            <class name="com.nordson.NORXML.TC_PressureHydraulic_NOR_XML_Comparsion_COD_LP_LV"/> 
            <class name="com.nordson.NORXML.TC_Pressure_NOR_XML_DefaultVal_Comparsion_Pneumatic"/>   -->
            <class name="com.nordson.NORXML.TC_PressureHydraulic_NOR_XML_DefaultVal_Comparsion_STD_STDDA"/>            
      </classes>
     
       </test> 

   </suite> 